
.error {
  color: rgb(224, 0, 0);
  font-style: italic;
}

.warning {
  color: rgb(255, 230, 0);
  font-style: italic;
}

.success {
  color: rgb(24, 206, 0);
  font-style: italic;
}

body {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #333333;
  color: white;
  padding: 5px;
  margin: auto;
  border-bottom: rgb(0, 153, 255) 3px solid;
  height: 70px;  
}

/*header h1, header nav{
  display: inline-block;
  padding: 15px;
  margin-left: 30px;
}*/

header h1 {
  display: inline-block;
  margin-left: 30px;
}

nav {
  display: inline-block;
  text-align: center;
  /*margin-left: 50px;*/
  margin-right: 50px;
  margin-top: 10px;
  /*border: white 1px dotted;*/
  /*float: left;*/ 
}

header ul {
  text-align: center;
}

header li{
  display: inline;
  padding: 20px;
}

header li #logout {
  display: inline;
  padding: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
	color: white;
}

a:hover {
	color:rgb(0, 162, 255);
}

.nav-links a:hover:last-child {
  color: red;
}

#logout:hover{
	color:rgb(255, 0, 0);
}

#login:hover{
	color:rgb(18, 212, 0);
}

a:active{
	color:green;
}


h1{
  font-size: 3rem;
  text-align: center;
}

.indv_blog h2{
  font-size: 2rem;
  text-align: left;
}

label{
  font-weight: bold;
}

.button{
	background-color:rgb(134, 134, 134);
	color:#fff;
	padding:10px 15px;
  border:none;
  font-weight: bold;
}

.button:hover{
	background: rgb(0, 153, 255);
  color:#fff;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:5px;
	margin-top: 50px;
}

.flash li{
  background-color:rgba(95, 95, 95, 0.849);
  border: 2px solid black;
  padding: 10px;
  width: 250px;
  font-size: 1rem;
  font-weight: bold;  
  text-align: center;    
  margin-top: 50px;
  display: inline-block ;
  float: left;
}

.users {
  font-size: 1rem;
}

span {
  color: dodgerblue;
  font-size: 14px;
}
